

.route {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa; 
    padding : 10px;
    list-style-type: none; 
  }
  
  .route ul {
    display: flex;
    gap: 20px; 
    padding: 0;
    margin: 0;
  }
  
  .route li {
    list-style: none; 
  }
  
  .route li a {
    text-decoration: none; 
    color: #333;
    font-weight: bold;
  }
  
  .route li a:hover {
    color: #007bff;
  }
  